<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ascon.Pilot.SDK.GraphicLayerSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  
    <userSettings>
        <Ascon.Pilot.SDK.GraphicLayerSample.Properties.Settings>
            <setting name="Path" serializeAs="String">
                <value/>
            </setting>
            <setting name="X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VerticalAligment" serializeAs="String">
                <value>Top</value>
            </setting>
            <setting name="HorizontalAligment" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="Scale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Angle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IncludeStamp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UniqId" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="PageNumber" serializeAs="String">
                <value>1</value>
            </setting>
        </Ascon.Pilot.SDK.GraphicLayerSample.Properties.Settings>
    </userSettings>
</configuration>
